* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 80rem; */
  height: 100vh;
}

.wrapper {
  display: grid;
  gap: 20px;
  transition: 0.3s ease-in-out;
}

.wrapper h1 {
  position: relative;
  width: 100%;
  display: grid;
  overflow: hidden;
  padding: 5px 0;
  transition: 0.3s ease-in-out;
  border: 1px solid;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 900;
}

.wrapper h1 img {
  position: absolute;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.wrapper h1 span {
  position: relative;
  transition: 0.3s ease-in-out;
}

/* Responsive breakpoints */
/* xs */
@media (min-width: 320px) {
  .wrapper {
    padding: 0 5px;
  }
  .wrapper h1 {
    font-size: 30px;
    gap: 30px;
    line-height: 40px;
    height: 100px;
  }
  .wrapper h1 img {
    height: 30px;
    padding: 30px;
    left: 38%;
    bottom: 2%;
    animation: imgUpDownXS 10s 4s infinite;
  }
  .wrapper h1 span {
    top: -217px;
    animation: spanUpDownXS 10s 4s infinite;
  }
}

/* sm */
@media (min-width: 640px) {
  .wrapper h1 {
    font-size: 40px;
  }
}

/* md */
@media (min-width: 768px) {
  .wrapper h1 {
    font-size: 60px;
    gap: 30px;
    line-height: 60px;
    height: 120px;
  }
  .wrapper h1 img {
    height: 40px;
    padding: 30px;
    left: 42%;
    bottom: -2%;
    animation: imgUpDownMD 10s 4s infinite;
  }
  .wrapper h1 span {
    top: -304px;
    animation: spanUpDownMD 10s 4s infinite;
  }
}

/* lg */
@media (min-width: 1024px) {
  .wrapper h1 {
    font-size: 70px;
    gap: 150px;
    line-height: 70px;
    height: 180px;
  }
  .wrapper h1 img {
    height: 60px;
    padding: 30px;
    left: 42%;
    bottom: 2%;
    animation: imgUpDownLG 10s 4s infinite;
  }
  .wrapper h1 span {
    top: -573px;
    animation: spanUpDownLG 10s 4s infinite;
  }
}

/* extra small screen - xs*/
@keyframes spanUpDownXS {
  0% {
    top: -217px;
  }
  20% {
    top: 0;
  }
  40% {
    top: 0;
  }
  60% {
    top: -110px;
  }
  80% {
    top: -110px;
  }
  100% {
    top: -217px;
  }
}

@keyframes imgUpDownXS {
  0% {
    left: 38%;
    bottom: 2%;
  }
  20% {
    left: 36%;
    bottom: 4%;
  }
  40% {
    left: 36%;
    bottom: 4%;
  }
  60% {
    left: 32%;
    bottom: 40%;
  }
  80% {
    left: 32%;
    bottom: 40%;
  }
  100% {
    left: 38%;
    bottom: 2%;
  }
}

/* medium screen - md */
@keyframes spanUpDownMD {
  0% {
    top: -304px;
  }
  20% {
    top: 0;
  }
  40% {
    top: 0;
  }
  60% {
    top: -154px;
  }
  80% {
    top: -154px;
  }
  100% {
    top: -304px;
  }
}

@keyframes imgUpDownMD {
  0% {
    left: 42%;
    bottom: -10%;
  }
  20% {
    left: 40%;
    bottom: -10%;
  }
  40% {
    left: 40%;
    bottom: -10%;
  }
  60% {
    left: 36%;
    bottom: 38%;
  }
  80% {
    left: 36%;
    bottom: 38%;
  }
  100% {
    left: 42%;
    bottom: -10%;
  }
}

/* large screen - lg */
@keyframes spanUpDownLG {
  0% {
    top: -573px;
  }
  20% {
    top: 0;
  }
  40% {
    top: 0;
  }
  60% {
    top: -288px;
  }
  80% {
    top: -288px;
  }
  100% {
    top: -573px;
  }
}

@keyframes imgUpDownLG {
  0% {
    left: 42%;
    bottom: 2%;
  }
  20% {
    left: 40%;
    bottom: 4%;
  }
  40% {
    left: 40%;
    bottom: 4%;
  }
  60% {
    left: 36%;
    bottom: 40%;
  }
  80% {
    left: 36%;
    bottom: 40%;
  }
  100% {
    left: 42%;
    bottom: 2%;
  }
}
